*{
  transition: all 1s ease-in-out;
}

body{
  margin: 0;
  padding: 0;
  background-image: radial-gradient( #c2e9fb, #a1c4fd );
}

#coinCounter{
  position:absolute;
  right: 0;
  padding: 50px 70px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(59, 78, 94);
}
#Speed{
  position:absolute;
  right: 0;
  padding: 110px 70px;
  font-size: 50px;
  font-weight: bold;
  color: rgb(59, 78, 94);
}

.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}